* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container 1 */
.mainContainer {
    background-color: #fff;
    padding-top: 1%;
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.title,
.subtitle {
    font-family: 'Inter', sans-serif;
}

.title {
    font-weight: 700;
}

.switch-btn-d, .switch-btn-l {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.switch-btn-d {
    background-color: #484646;
    color: #fff;
}

.switch-btn-l {
    background-color: #fff;
    color: #000;
    display: none;
}

.social-media-container {
    display: flex;
    justify-content: space-between;
    height: 300px;
    margin-top: 4%
}

/* cards redes sociais */
.social-media-card {
    width: 270px;
    height: 250px;
    border-top: solid 8px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.social-media-card:hover {
    transition: 0.5s;
    cursor: pointer;
    transform: translateY(-25px);
}

.social-media-card-l {
    background-color: #f0f2fa;
}

.social-media-card-l:hover {
    background-color: #c0c5e1;
}

.social-media-card-d {
    background-color: #252a41;
}

.social-media-card-d:hover {
    background-color: #42465f;
}

#facebook-card {
    border-color: #198ff5;
}

#twitter-card {
    border-color: #1ca0f2;
}

#instagram-card {
    border-image: linear-gradient(to right, #fdc468, #df4996) 1;
}

#youtube-card {
    border-color: #c4032a;
}

.account {
    color: #484646;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.followers-number {
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.followers-text {
    color: #484646;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 3%;
}

.followers-up, .followers-down {
    font-family: 'Inter', sans-serif;
    margin: 2.5px 0 0 1px;
}

.followers-up {
    color: #1db489;
}

.followers-down {
    color: #dc414c;
}

/* container 2 */
.secondContainer {
    background-color: #fff;
    height: 400px;
    max-width: 1920px;
}

.title2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-top: 2%;
}

/* cards dos numeros das redes sociais */
.social-media-overview-card {
    height: 130px;
    width: 250px;
    border-radius: 5px;
}

.social-media-overview-card {
    transition: 0.5s;
    cursor: pointer;
}

.social-media-overview-card-l {
    background-color: #f0f2fa;
}

.social-media-overview-card-l:hover {
    background-color: #c0c5e1;
}

.social-media-overview-card-d {
    background-color: #252a41;
}

.social-media-overview-card-d:hover {
    background-color: #42465f;
}

.pg-views {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin: 15px 0 0 5%;
    color: #484646;
    font-size: 15px;
}

.social-media-logos {
    width: 22px;
    height: 22px;
    margin: 15px 9% 0 0;
}

.pg-numbers {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 3% 0 0 3%;
    color: #000;
}

.view-numbers-container {
    display: flex;
    justify-content: space-between;
    margin: 11% 0 0 30%;
}

.view-up, .view-down {
    margin-top: 5px;
    width: 10px;
    height: 10px;
}

.view-numbers {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin-left: 1px;
}

.view-numbers-up {
    color: #1db489;
}

.view-numbers-down {
    color: #dc414c;
}

/*  Media queries*/
@media(min-width: 320px) and (max-width:374px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media(min-width:375px) and (max-width:425px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media(min-width: 426px) and (max-width: 486px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media(min-width: 487px) and (max-width: 550px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media (min-width: 551px) and (max-width: 575px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .mainContainer {
        height: 1400px;
    }

    .titleContainer {
        flex-direction: column;
    }

    .switch-btn-d, .switch-btn-l {
        width: 100%;
    }

    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
    }

    /* cards redes sociais */
    .social-media-card {
        margin-top: 10%;
    }

    .social-media-card:hover {
        transform: translateY(0px);
    }

    .secondContainer {
        height: 1600px;
    }

    .social-media-overview-card-container {
        flex-direction: column;
        align-items: center;
        height: 750px;
    }

    .social-media-overview-card {
        margin-top: 5%;
    }
}